<div class="api_keys_table">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">API-Key</th>
            <th scope="col">Datenbank</th>
            <th scope="col">Datenbank-Größe</th>
        </tr>
        </thead>
        <tbody>
        {% for apiKey in  apiKeys %}
            <tr>
                <th scope="row">{{ apiKey.id }}</th>
                <td>{{ apiKey.apiKey }}</td>
                <td>
                    <form action="" method="post" enctype="multipart/form-data">
                        <input type="file" name="fileToUpload" id="fileToUpload">
                        <input type="submit" value="Hochladen" name="submit">
                    </form>
                </td>
                <td>TODO</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>